[submodule "src/gaussian-splatting-lightning"]
	path = src/gaussian-splatting-lightning
	url = git@github.com:yzslab/gaussian-splatting-lightning.git
[submodule "src/nerfstudio"]
	path = src/nerfstudio
	url = git@github.com:nerfstudio-project/nerfstudio.git
